<mat-toolbar *ngIf="estaLogado">
  <span>Minhas finanças</span>
  <span class="example-spacer"></span>
  <div class="menu-item">
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  </div>

  <div class="menu-item">
    <a routerLink="categorias" routerLinkActive="active">Categorias</a>
  </div>

  <div class="menu-item">
    <a routerLink="entradas" routerLinkActive="active">Entradas</a>
  </div>

  <div class="menu-item">
    <a (click)="sair()">Sair</a>
  </div>
</mat-toolbar>
