table {
  width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    border: 3px solid grey;
    margin-top: 2rem;
    border-radius: .2rem;
}

.button{
  margin-left: 75%;
  margin-top: 1rem;
  border: 1px solid black;
  font-weight: 600;
}

.verde{
  color: green;
  font-weight: 600;
}

.vermelho {
  color: red;
  font-weight: 600;
}